html, body, #app {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}